body
{
    width: 1600px;
    height: 1000px;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    width:100% ;
    height: 30%;
}

main
{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
    height: 30%;
}

footer
{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    width: 100%;
    height: 30%;
}
